<!-- views/cars/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= car.name %></title> 
  </head>
  <body>
    <%- include('../partials/nav.ejs')%>

    <h1>car name :<%= car.name %></h1>
    <h3>car model :<%= car.model %></h3>
    <h3>car company :<%= car.company %></h3>
    <h3> ddescription :<%= car.description %></h3>
   
    <!-- new delete button -->
    <form action="/cars/<%=car._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= car.name %></button>

      <a href="/cars/<%= car._id %>/edit">Edit <%= car.name %></a>
    </form>
  </body>
</html>